<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">JTC</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" *ngIf="!isLogin">
        <a class="nav-link" href="register">{{'NAVBAR_HEADINGS.USR_CREATE_ACC' | translate}}</a>
      </li>
      <li class="nav-item active" *ngIf="!isLogin">
        <a class="nav-link" href="login">{{'NAVBAR_HEADINGS.USR_ACC_LOGIN' | translate}}</a>
      </li>
      <li class="nav-item active">
        <div ngbDropdown class="d-inline-block" *ngIf="isLogin">
          <a class="nav-link text-light" ngbDropdownToggle id="dropdownBasic1">{{firstName}}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a href="dashboard" class="dropdown-item">
                {{'NAVBAR_HEADINGS.USR_ACC_HOME' | translate}}
            </a>
            <a href="dashboard/settings" class="dropdown-item">
              {{'NAVBAR_HEADINGS.USR_ACC_SETTINGS' | translate}}
            </a>
            <a href="logout" class="dropdown-item">
              {{'NAVBAR_HEADINGS.USR_ACC_LOGOUT' | translate}}
            </a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <header>
