<div class="container-fluid container-body container-body-background">
  <div class="row">
    <div class="container col-md-5 col-xl-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src='/assets/images/logo-small.png' class='logo mb-4' alt='logo'>
          <h5 class='mb-4'>
            {{'FORM_HEADINGS.RECOVER_PASSWORD' | translate}}
          </h5>
        </div>
      </div>
      <div class="row form-panel">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="validateResetCodeViewState.isLoading" style="text-align: center; width: 100%;">
                    <i class="fa fa-spinner fa-spin" style="font-size: 50px;"></i>
                  </div>
                  <div class="row"
                       *ngIf="validateResetCodeViewState.isFinishedWithError && validateResetCodeViewState.error">
                    <span class="col-md-12 text-center text-danger">{{validateResetCodeViewState.error}}</span>
                  </div>
                </div>
              </div>
              <form [formGroup]="recoverPasswordFormGroup" (ngSubmit)="updatePassword()"
                    *ngIf="validateResetCodeViewState.isFinishedWithSuccess && !validateResetCodeViewState.isLoading">
                <div class="row form-group">
                  <div class="col-md-12">
                    <input class="form-control form-control-lg" required id="password" autocomplete='password'
                           formControlName='password'
                           name="password" type="password" placeholder="{{'FORM_LABELS.USR_NEW_PASSWORD' | translate}}">
                  </div>
                  <div *ngIf="recoverPasswordValidationErrors['password']" class="col-md-12 form-inline-error">
                    {{recoverPasswordValidationErrors['password']}}
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <input class="form-control form-control-lg" required id="cnf_password" autocomplete='cnf_password'
                           formControlName='cnf_password'
                           name="cnf_password" type="password" placeholder="{{'FORM_LABELS.USR_CNF_PWD' | translate}}">
                  </div>
                  <div *ngIf="recoverPasswordValidationErrors['cnf_password']" class="col-md-12 form-inline-error">
                    {{recoverPasswordValidationErrors['cnf_password']}}
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12 form-group text-center">
                    <button type="submit" class="btn btn-lg btn-block btn-primary"
                            [disabled]="recoverPasswordViewState.isLoading || !recoverPasswordFormGroup.valid">
                      {{'FORM_ACTIONS.UPDATE_PASSWORD' | translate}}
                      <span *ngIf="recoverPasswordViewState.isLoading">
                        &nbsp;<i class="fa fa-spinner fa-spin"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
