/* you can add global styles to this file, and also import other style files */

/* sticky footer styles
-------------------------------------------------- */

body {
  margin-bottom: 70px !important;
}

/* container styles
-------------------------------------------------- */

.container-body {
  padding: 40px 0 60px 0;
  min-height: 100%;
  margin-bottom: 10px;
}

.form-inline-error {
  color: red;
}


