<div class="container-fluid container-body container-body-background">
    <div class="row">
      <div class="container col-md-5 col-xl-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <img src='/assets/images/logo-small.png' class='logo mb-4' alt='logo'>
            <h4 class='mb-4'>
              {{'FORM_HEADINGS.RESET_PASSWORD' | translate}}
            </h4>
          </div>
        </div>
        <div class="row form-panel">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()"
                      *ngIf="!resetPasswordViewState.isFinishedWithSuccess">
                  <div class="row form-group">
                    <div class="col-md-12">
                      <input class="form-control form-control-lg" required id="email" autocomplete='email'
                             formControlName='email'
                             name="email" type="email" placeholder="{{'FORM_PLACEHOLDERS.USR_EMAIL' | translate}}">
                      <div *ngIf="resetPasswordViewState.isFinishedWithError || resetPasswordValidationErrors['email']"
                           class="form-inline-error">
                        {{resetPasswordViewState.error || resetPasswordValidationErrors['email']}}
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 form-group text-center">
                      <button type="submit" class="btn btn-lg btn-block btn-primary"
                              [disabled]="resetPasswordViewState.isLoading">
                        {{'FORM_ACTIONS.USR_ACC_RST_PWD' | translate}}
                        <span *ngIf="resetPasswordViewState.isLoading">
                          &nbsp;<i class="fa fa-spinner fa-spin"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-12" *ngIf="resetPasswordViewState.isFinishedWithSuccess">
                <p>{{'FORM_MESSAGES.USR_RESET_REQUEST_SUCCESS' | translate}}</p>
                <b>{{resetPasswordFormGroup.value.email}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
